@{
    ViewData["Title"] = "Index";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="Home">Back</a>

<h1 class="govuk-heading-xl">Finding game</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div id="player1" class="player-container">
            <h2 class="govuk-heading-m"> Player 1 </h2>

            <div id="waiting-for-player-message-1">
                <p> Waiting for an opponent</p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div id="player2" class="player-container">
            <h2 class="govuk-heading-m"> Player 2 </h2>
            <div id="waiting-for-player-message-2">
                <p> Waiting for an opponent</p>
            </div>
        </div>
    </div>

    <div id="opponent-ready-message" hidden> <p> Opponent Ready! </p></div>
   
</div>

<div class="govuk-grid-row">
    <button class="govuk-button" id="start-button" disabled> Start Game</button>
    <a asp-action="Index" asp-controller="Home" class="das-button--link">Cancel</a>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Setup.js"></script>