@model DAS_Capture_The_Flag.Web.Models.Game.GameViewModel;
@using DAS_Capture_The_Flag.Application.Helpers;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var game = @JavascriptConvert.SerializeObject(Model)
    
</script>
<script src="~/js/game.js">
</script>