@using DAS_Capture_The_Flag.Models.Game
@model IEnumerable<DAS_Capture_The_Flag.Models.Game.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>