@model DAS_Capture_The_Flag.ViewModels.GameViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var pirates = @Html.Raw(Json.Serialize(Model))
    console.log("from view" + pirates)
</script>
<script src="~/js/Game.js">

    
</script>