@model DAS_Capture_The_Flag.Models.Game.GameViewModel
@using DAS_Capture_The_Flag.ViewModels
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var game = @JavaScriptConvert.SerializeObject(Model)
    
</script>
<script src="~/js/game.js">
</script>