@model DAS_Capture_The_Flag.Models.Game.GameViewModel
@using DAS_Capture_The_Flag.ViewModels
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<canvas id="GameWindow" width="500" height="500"></canvas>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var game = @JavaScriptConvert.SerializeObject(Model);
    console.log(game)
   
    
</script>
<script src="~/js/game.js">
</script>
<script src="~/js/Game/DrawMap.js"></script>