@model DAS_Capture_The_Flag.Web.Models.Lobby.LobbyViewModel;

@{
    ViewData["Title"] = "Index";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="Home">Back</a>

<h1 class="govuk-heading-xl">Finding game</h1>



<div id="lobby-details-partial">
    <p> Loading .. </p>
</div>



<script>
    window.setInterval(function () {

        var url = "/lobby/LobbyDetails?gameId=" + '@Model.Id.ToString()' + "&playerId=" + '@Model.PlayerId.ToString()';

    var httpRequest = new XMLHttpRequest();

    httpRequest.open("GET", url, false);

    httpRequest.send();

    var response = httpRequest.response
    console.log(response)

    document.getElementById("lobby-details-partial").innerHTML = response;
}, 1500);
</script>
<script type="text/javascript" src="~/js/Lobby.js"></script>