.button-link {
    font-family: "GDS Transport",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    text-align: right;
    color: darkslateblue;
    text-decoration: underline;
    margin-top: 0;
    padding: 8px 0px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    background-color: transparent;
    vertical-align: top;
    cursor: pointer;
}
