@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="govuk-heading-xl">Welcome to Capture the Flag</h1>

    <p></p>

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <form action="/Game/FindGame" method="get">
                <button class="govuk-button" type="submit">Find a new game</button>
            </form>
        }
        else
        {
            <p>Login or Register to start a new game.</p>
        }
    </ul>
</div>

