@using DAS_Capture_The_Flag.Data
@using Microsoft.AspNetCore.Identity
@*@inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager*@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item" style="list-style-type: none;">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
           title="Manage">Welcome @User.Identity.Name</a>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="button-link">Logout</button>
        </form>
    </li>
}
else
{
    <div id="bannerSignedOut">
        <a asp-area="Identity" asp-page="/Account/Login"
           id="loginLink" title="Sign in"><i class="fa fa-sign-in"></i>Log in / </a>
        <a asp-area="Identity" asp-page="/Account/Register"
           id="registerLink" title="Create account"><i class="fa fa-sign-in"></i>Create account</a>
    </div>
}

