@using DAS_Capture_The_Flag.Data
@using Microsoft.AspNetCore.Identity
@*@inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager*@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="govuk-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Welcome @User.Identity.Name</a>

    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" >
        <button type="submit" class="govuk-button govuk-button--secondary" style="margin-bottom:0px">Sign out</button>
    </form>

}
else
{
    <div id="bannerSignedOut">
        <p>
            <a asp-area="Identity" asp-page="/Account/Login"id="loginLink" title="Sign in">Sign in </a> 
            or
            <a asp-area="Identity" asp-page="/Account/Register" id="registerLink" title="Create account">create an account</a>
        </p>

    </div>
}
