@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="heading-xlarge">@ViewData["Title"]</h1>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>