@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
    ViewBag.HideNav = true;
}

<a asp-controller="Home" asp-action="Index" class="govuk-back-link">Back</a>

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_ErrorSummary" />

            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

            <p> Sign in or <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">create an account</a> to play Capture The Flag or post on our forums.</p>

            <form id="account" method="post">

                <div class="govuk-form-group" sfa-gds-error-class-for="UserName">
                    <label class="form-label-bold" asp-for="UserName"></label>
                    <span sfa-gds-error-message-for="UserName"></span>
                    <input asp-for="UserName" class="govuk-input" />

                </div>
              
                <div class="govuk-form-group" sfa-gds-error-class-for="Password">
                    <label class="form-label-bold" asp-for="Password"></label>
                    <span sfa-gds-error-message-for="Password"></span>
                    <input asp-for="Password" class="govuk-input" />
                </div>

                <div class="govuk-form-group">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" asp-for="RememberMe">

                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="govuk-button">Log in</button>
            </form>

        </div>
    </div>
</div>

