@page
@model LogoutModel
@{
    ViewData["Title"] = "You have logged out";
}

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

            <a asp-controller="Home" asp-action="Index" class="govuk-button"> Continue </a>
        </div>
    </div>
</div>
