@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="heading-xlarge">@ViewData["Title"]</h1>
            <p>Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</p>
        </div>
    </div>
</div>